.container-report-area {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.headerblue-report {
  background-color: var(--primay-app-color);
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.report-label {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: 8%;
  margin-bottom: 8%;
}
.report-data-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.area-report-head-div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 70px;
  margin-top: 4%;
  align-items: center;
  border: 4px solid transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom right, var(--primay-app-color), #a4ce4e);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.area-report-head {
  width: 30%; /* or any other value that fits */
  text-align: center;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.2px;

  color: #252525;
}

.report-data {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
}
.area-report-data-div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 65px;
  margin-top: 4%;
  /* justify-content: center; */
  align-items: center;
  border: 2px solid transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom right, var(--primay-app-color), #a4ce4e);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.area-report-data {
  width: 30%; /* or any other value that fits */
  text-align: center;
}
.area-report-data-label {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  align-self: center;
  color: #252525;
}

.report-total {
  width: 80%;
  height: 10vh;
  margin-top: 5%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.total-amount-pending {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}

.total-amount-pending-label,
.no-of-unpaid-label {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 144%;
  text-align: center;
  color: #333333;
  margin-left: 10px;
  /* margin-top: */
}

.no-of-transactions-value,
.total-amount-collected-value {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 144%;
  text-align: right;
  color: #34a55a;
  margin-right: 10px;
}

.float-div {
  width: 100%;
  height: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 12%;
}
