.home-bg-img {
    position: fixed;
    object-fit: cover;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
}

.cotainer {
    height: 100%;
    /* padding: 10px !important; */
}

.header-blue {
    position: relative;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    height: 15vh;
    background: #0090da;
    width: 100%;
    background-color: #0090da;
}

.area-div {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 15%;
    left: 18px;
}

.area-p {
    text-align: center;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 16px;
}

.area-dropdown {
    position: relative;
    top: 0;
    left: 10%;
    width: 120px;
    height: 50px;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background-color: #0090da;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.area-dropdown::placeholder{
    color: white;
}

.filter-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 8%;
    position: relative;
    top: 18%;
}

.filter-p {
    position: relative;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}

.filter-button {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 50px;
    top: 60%;
    border-radius: 50%;
    background: #007abc;
}

.filter-icon {
    color: white;
    width: 25px;
    height: 50px;
}

/* Card */

.card-div {
    position: relative;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #0090da, #a4ce4e) 1;
    box-sizing: border-box;
    margin-top: 4%;
    padding: 3%;
}

.card-line1-div {
    display: flex;
    justify-content: space-between;
}

.card-name-p {
    float: left;
    color: #252525;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.2px;
}

.card-price-p {
    float: right;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.2px;
}

.card-line2-div {
    display: flex;
    justify-content: space-between;
}

.card-date-p {
    float: left;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.2px;
    color: #252525;
}

.card-reg-p {
    float: right;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    text-align: right;
    letter-spacing: 0.2px;
    color: #252525;
}

.card-line3-div {
    display: flex;
    justify-content: space-between;

}

.card-phone-p {
    float: left;
    margin-top: 1.5%;
    margin-left: 6px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.2px;
    color: #252525;
    margin-bottom: 1%;
}

.card-status-p {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 160%;
    text-align: center;
    background: #a0c334;
    border: 1px solid #ffffff;
    border-radius: 20px;
    letter-spacing: 0.24px;
    color: #ffffff;
    padding: 2%;
    margin-bottom: 1%;
}

.card-underline-div {
    border-bottom: 1px solid #d9d9d6;
}

.card-address-p {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #252525;
    padding: 2%;
    margin-bottom: 0;
}

/* Drawer */

.DrawerTitle {
    position: relative;
    margin-bottom: 20px;
    font-family: 'Noto Sans',sans-serif;

    font-weight: 800;
    font-size: 20px;
    line-height: 28px;

    color: #000000;
}
.Switch-unchecked {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    height: 100%;
    font-family: "Noto Sans";
    font-style: "normal";
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    padding-left: 2px;
    line-height: 27px;
}
.Switch-checked {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    height: 100%;
    font-family: "Noto Sans";
    font-style: "normal";
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    padding-left: 4px;
    line-height: 27px;
}
.SortOptionsLabel {
    position: relative;
}
.SortOptionsContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.DrawerRadioButtons{
    position: relative;
    left:20px;
    width:20px;
    height:20px;
    color:#0090DA;
}
.DrawerRadioLabel{
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.2px;
margin-left: 30px;

color: #333333;
}
.DrawerSortColumn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.DrawerSubmitButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 105px;
    gap: 8px;
    border: none;
    position: relative;
    width: 224px;
    height: 48px;
    left: calc(50% - 224px / 2);
    top:30px;
color:#ffffff;
font-family: "Noto Sans", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
letter-spacing: 1px;
    background: #0090da;
    border-radius: 20px;
}
.drawer{
    height: 70%;
}
.drawer__content {
    max-height: 100% !important;
    overflow-y: visible !important;
    overflow-x: visible !important;
}
