.home-bg-img {
    position: fixed;
    object-fit: cover;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
    z-index: -1;
}

.container {
    height: 100%;
}

.headerblue {
    height: 20vh;
    padding: 10px;
    background-color: #0090da;
    position: relative;
    top: 10px;
}

.profile_img {
    width: 84px;
    height: 88px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 12vh;
    left: 35%;
}

.user_name {
    position: absolute;
    height: 31px;
    left: 0%;
    right: 63.8%;
    top: 25%;

    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */
    text-align: center;

    color: #333333;
}

.amount_due {
    background: rgba(220, 21, 21, 0.82);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    gap: 10px;
    margin-top: 30%;
}

.Amt_Due {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    /* or 105% */
    text-align: center;
    color: #ffffff;
}

.amount_collected_month {
    background: rgba(160, 195, 52, 0.92);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    gap: 10px;
    margin-top: 20px;
}

.amount_collected_today {
    background: #cf4dce;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    gap: 10px;
    margin-top: 20px;
}

.complaints {
    background: #cebb00;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    gap: 10px;
    margin-top: 20px;
}

.Company_name {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* or 127% */

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

.hamburger {
    display: block;
    position: absolute;
    top: 0px;
    left: 13%;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
}

.hamburger .line {
    width: 20px;
    height: 2px;
    background: #ffff;
    /* display: block; */

    transition: all 0.3s ease-in-out;
    /* add it to left */

    margin: 3px;
}

.collect-btn-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.collectBtn {
    margin-top: 20%;
    margin-bottom: 5%;
    align-items: center;
    color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    background: #0090da;
    border-radius: 20px;
    width: 224px;
    height: 48px;
    gap: 8px;
}
