.HeaderLabelHistory{
    position: relative;
    top: 5%;
    align-self: center;
    font-family: "Noto Sans", sans-serif;
    padding-left: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #ffffff;
}